# Core functionality - changes here should be rare!
/src/app.py                   @lunitrixx
/src/backend/database.py      @lunitrixx
/src/backend/routers/auth.py  @lunitrixx

# The frontend will need refactored soon to be more object oriented.
/src/static/   @lunitrixx
